// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

th {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.buttonHolder {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rentalSubmit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}

.addButton {
    background-color: #039dfc; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}

.removeButton {
    background-color: #ff5f4a; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}
